@import "define";


.buttons--root {
  i {
    @extend %buttons--pointer;
    @include buttons--transition(opacity $buttons--transition-delay);
    opacity: $buttons--opacity-off;

    &:hover {
      opacity: $buttons--opacity-on;
    }

    &.buttons--reverse {
      opacity: $buttons--opacity-on;

      &:hover {
        opacity: $buttons--opacity-off;
      }
    }

    &.buttons--disabled {
      cursor: auto;
      opacity: $buttons--opacity-off;

      &:hover {
        opacity: $buttons--opacity-off;
      }
    }
  }
}

// end of buttons.scss
