$buttons--opacity-on: .8;
$buttons--opacity-off: .4;
$buttons--transition-delay: 300ms;

@mixin buttons--transition($target...) {
  transition: $target;
  -webkit-transition: $target;
  -moz-transition: $target;
}

%buttons--pointer {
  cursor: pointer;
}

// end of define.scss
